[submodule "sticky-parent-jar8"]
	path = sticky-parent-jar8
	url = git@github.com:StickySource/sticky-parent-jar8.git
[submodule "sticky-parent-api8"]
	path = sticky-parent-api8
	url = git@github.com:StickySource/sticky-parent-api8.git
[submodule "sticky-parent-tile"]
	path = sticky-parent-tile
	url = git@github.com:StickySource/sticky-parent-tile.git
[submodule "sticky-parent-parent"]
	path = sticky-parent-parent
	url = git@github.com:StickySource/sticky-parent-parent.git
